.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 1;
  background-color: #242424;
  color: #c2c2c2;;
  height: 10%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
