<section style="height: 70%">
<mat-card>
  <p>Wyrażam zgodę na przetwarzanie moich danych osobowych przez RK Credit Advisors

    w celu marketingu bezpośredniego (w tym realizowanego przy wykorzystaniu telekomunikacyjnych urządzeń końcowych), a
    także wyrażam zgodę na kontakt telefoniczny do celów marketingu bezpośredniego zgodnie z ustawą z dnia 16 lipca 2004
    prawo telekomunikacyjne (t.j. z dnia 23 sierpnia 2016 r., Dz.U. z 2016 r., poz. 1489).

    Administratorem danych osobowych jest RK Credit Advisors. Podanie danych osobowych jest dobrowolne, a osobie
    podającej dane przysługuje prawo dostępu do treści przetwarzanych danych i ich poprawiania oraz usuwania (na
    zasadach określonych w art. 16-20 RODO).
  </p>
</mat-card>
</section>
